{{define "subject"}}
Rechnung #0{{.Number}} vom 21.04.2014
{{end}}

{{define "content"}}
Sehr geehrte(r) Frau/Herr {{.Customer.Name}},
vielen Dank für Ihren Einkauf bei satisfeet.

Bitte überweisen Sie den ausstehenden Rechnungsbetrag an das unten angegebene
Konto. Bei Zahlungseingang verschicken wir Ihre Ware umgehend und
benachrichtigen Sie elektronisch. Bei Rückfragen stehen wir Ihnen
selbstverständlich zur Verfügung.

Mit freundlichen Grüßen,
Ihr Satisfeet-Team
{{end}}
